body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

#root {
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  /* Adjust the maximum width as needed */
  text-align: left;
  /* Reset text alignment within the wrapper */
}

header {
  background-color: #fff;
  color: #2193af;
  padding: 40px 0;
}

header h1,
header h2 {
  margin: 0;
}

.hero {
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 100px 0;
  position: relative;
}

.about {
  background-color: #f4f4f4;
  padding: 20px;
}

.services {
  padding: 20px 0;
}

.project {
  background-color: #f4f4f4;
  padding: 20px;
}

footer {
  background-color: #f4f4f4;
  color: #213547;
  padding: 10px 0;
  margin-top: 20px;
}

.center {
  text-align: center;
}

.hero-overlay {
  position: absolute;
  background-color: #00000000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  backdrop-filter: blur(8px);
  opacity: 0.7;
}

.btn {
  display: inline-block;
  line-height: 30px;
  background: #fff;
  padding: 5px 20px;
  border: 1px solid #000;
  border-radius: 5px;
}

.hero-content {
  z-index: 2;
  position: relative;
}

/* Add this CSS to your stylesheet */
.service-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.service {
  flex: 0 0 calc(33.33% - 55px);
  /* 33.33% for each column with a 20px gap between them */
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  text-align: center;
}

/* Style for small screens (optional) */
@media (max-width: 768px) {
  .service {
    flex: 0 0 calc(100% - 80px);
    margin: 0 auto;
  }
}

/* Add this CSS to your stylesheet */
.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}

.project {
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  text-align: center;
}

.project img {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project h3 {
  font-size: 20px;
  margin: 10px 0;
}

.project p {
  font-size: 16px;
  margin: 0;
}

/* Style for small screens (optional) */
@media (max-width: 768px) {
  .project-container {
    grid-template-columns: repeat(1, 1fr);
    width: calc(100% - 40px);
    margin: 0 auto;
  }
}